---
import { Image } from "astro:assets";
import profileFooter from "../assets/pic-footer.jpeg";
---

<section id="sobre-mi" data-section="sobre-mi" class="pt-2 py-16">
  <span class="text-zinc-300 flex flex-row gap-4 items-center justify-start">
    <!-- <Bag size={28} weight="fill" /> -->
    <h2 class="text-3xl font-bold">Sobre mí</h2>
  </span>
  <div class="flex flex-col md:grid md:grid-cols-3 gap-8">
    <p
      class="text-zinc-300 order-2 md:order-1 md:col-span-2 col-span-3 py-8 text-balance"
    >
      Me llamo <strong class="text-header">Manuel Esteban</strong>, a los 18
      años comencé a programar y desde entonces no he parado. Me encanta el
      desarrollo web y la programación en general. Me considero una persona
      autodidacta, siempre estoy aprendiendo cosas nuevas y mejorando mis
      habilidades. Me gusta trabajar en equipo y compartir conocimientos. Soy
      una persona responsable, comprometida y con muchas ganas de aprender y
      mejorar.<br />
      <br />
      Mi objetivo es seguir creciendo como profesional y seguir aprendiendo cosas
      nuevas. Me gustaría trabajar en una empresa donde pueda aportar mis conocimientos
      y seguir aprendiendo de otros profesionales.
    </p>
    <span
      class="w-full order-1 md:order-2 md:col-span-1 flex justify-center items-center md:pt-0 pt-14"
    >
      <figure
        class="relative rounded-full overflow-hidden border border-zinc-600 w-64 h-64"
      >
        <Image
          src={profileFooter}
          alt="profile footer"
          class="w-full h-full object-cover bg-center bg-cover"
        />
      </figure>
    </span>
  </div>
</section>
