---
import LaravelIcon from "../components/icons/LaravelIcon.astro";
import VueIcon from "../components/icons/VueIcon.astro";
import PostgreIcon from "../components/icons/PostgreIcon.astro";
import GitIcon from "../components/icons/GitIcon.astro";
---

<section id="experiencia" data-section="experiencia" class="py-16">
  <span class="text-zinc-300 flex flex-row gap-4 items-center justify-start">
    <h2 class="text-3xl font-bold">Experiencia Laboral</h2>
  </span>
  <div class="grid grid-cols-1 py-20 items-center md:px-20">
    <article
      class="flex flex-col justify-between items-center gap-2 h-full md:h-56"
    >
      <h3 class="text-3xl text-header font-bold text-center">
        fabrica de software
      </h3>
      <h4 class="text-zinc-300 text-sm text-center">
        fullstack developer 2020-2021
      </h4>
      <p class="text-zinc-300 text-sm text-center">
        Experiencia: trabaje en el desarrollo de una aplicacion web para el
        servicio nacional de aprendizaje, donde se manejan los procesos de las
        dependencias del SENA a nivel nacional, entre ellas bienestar al
        aprendiz, ENI, SENNOVA, Egresados, entre otras, durante 1 año.
      </p>
      <div
        class="py-2 grid grid-cols-2 md:flex md:flex-row gap-4 items-center justify-center"
      >
        <button
          class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
        >
          <VueIcon name="react" class="w-4 h-4" />
          <span class="text-zinc-300 text-xs font-bold">vue</span>
        </button>
        <button
          class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
        >
          <LaravelIcon name="laravel" class="w-4 h-4" />
          <span class="text-zinc-300 text-xs font-bold">laravel</span>
        </button>
        <button
          class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
        >
          <PostgreIcon name="postgreSQL" class="w-4 h-4" />
          <span class="text-zinc-300 text-xs font-bold">postgreSQL </span>
        </button>
        <button
          class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
        >
          <GitIcon name="git" class="w-4 h-4" />
          <span class="text-zinc-300 text-xs font-bold">git</span>
        </button>
      </div>
    </article>
  </div>
  <span class="text-zinc-300 flex flex-row gap-4 items-center justify-start">
    <h2 class="text-3xl font-bold">Eventos</h2>
  </span>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-12 pt-20 items-center">
    <article
      class="flex flex-col justify-between items-center gap-2 h-full md:h-56"
    >
      <h3 class="text-3xl text-header font-bold text-center">senasoft 2020</h3>
      <h4 class="text-zinc-300 text-sm text-center">frontend developer</h4>
      <p class="text-zinc-300 text-sm text-center">
        Experiencia: Se desarrollo en el encuentro de tecnología que realiza
        anualmente el <a
          target="_blank"
          href="https://www.sena.edu.co/es-co/comunidades/aprendices/Paginas/senaSoft.aspx"
          class="font-bold text-header">servicio nacional de aprendizaje</a
        >, una sistema de gestion de datos para una entidad medica,
        la cual nos permitira asignar citas medicas a los pacientes registrados,
        durante 3 dias de trabajo.
      </p>
      <button
        id="senasoft"
        class="text-xs font-bold rounded-full text-zinc-300 flex flex-row gap-2 items-center justify-center border border-zinc-700 bg-zinc-900 px-6 py-1 mt-4"
      >
        ver certificado
      </button>
    </article>
    <article
      class="flex flex-col justify-between items-center gap-2 h-full md:h-56"
    >
      <h3 class="text-3xl text-header font-bold text-center">edesi 2021</h3>
      <h4 class="text-zinc-300 text-sm text-center">ponencia</h4>
      <p class="text-zinc-300 text-sm text-center">
        <!-- DESARROLLO DE UN PROTOTIPO PARA LA MEDICIÓN Y ALERTA TEMPRANA DE PARÁMETROS FISICOQUÍMICOS DEL AGUA POR TELEMETRIA PARA ACUEDUCTOS RURALES -->
        Experiencia: Se presento un proyecto de investigacion en el <a
          target="_blank"
          href="https://rredsi.com.co/x-encuentro-departamental-de-semilleros-de-investigacion-modalidad-virtual-nodo-valle-del-cauca/"
          class="text-header font-bold"
          >XV encuentro departamental de semilleros de investigacion</a
        > en el cual se desarrollo un prototipo para la medicion y alerta temprana
        de parametros fisicoquimicos del agua por telemetria para acueductos rurales.
      </p>
      <button
        id="redcolsi"
        class="text-xs font-bold rounded-full text-zinc-300 flex flex-row gap-2 items-center justify-center border border-zinc-700 bg-zinc-900 px-6 py-1 mt-4"
      >
        ver certificado
      </button>
    </article>
  </div>
</section>
<!-- script open pdf -->

<script>
  const senasoft = document.getElementById("senasoft");
  const redcolsi = document.getElementById("redcolsi");

  if (senasoft) {
    senasoft.addEventListener("click", () => {
      window.open("/certificados/senasoft.pdf");
    });
  }

  if (redcolsi) {
    redcolsi.addEventListener("click", () => {
      window.open("/certificados/redcolsi.pdf");
    });
  }
</script>