---
import Layout from "../layouts/Layout.astro";
import Header from "../pages/Header.astro";
import Experience from "../pages/Experience.astro";
import Tools from "../pages/Tools.astro";
import Projects from "../pages/Projects.astro";
import About from "../pages/About.astro";
import Footer from "../pages/Footer.astro";
import Navbar from "../components/Navbar.astro";
---

<Layout title="Portafolio de manuel">
  <main class="flex flex-col px-8 md:px-80 pt-24 md:pt-36 pb-12" data-scroller>
    <Navbar />
    <Header />
    <Tools />
    <Experience />
    <Projects />
    <About />
    <Footer />
  </main>
</Layout>

<style></style>
