---
import ReactIcon from "../components/icons/ReactIcon.astro";
import PythonIcon from "../components/icons/PythonIcon.astro";
import AstroIcon from "../components/icons/AstroIcon.astro";
import TailwindIcon from "../components/icons/TailwindIcon.astro";
import NodeIcon from "../components/icons/NodeIcon.astro";
import LaravelIcon from "../components/icons/LaravelIcon.astro";
import MongoIcon from "../components/icons/MongoIcon.astro";
import GitIcon from "../components/icons/GitIcon.astro";
import VitestIcon from "../components/icons/VitestIcon.astro";
import LinuxIcon from "../components/icons/LinuxIcon.astro";
import DockerIcon from "../components/icons/DockerIcon.astro";
import PostmanIcon from "../components/icons/PostmanIcon.astro";
import FigmaIcon from "../components/icons/FigmaIcon.astro";
import HtmlIcon from "../components/icons/HtmlIcon.astro";
import CssIcon from "../components/icons/CssIcon.astro";
import DjangoIcon from "../components/icons/DjangoIcon.astro";
import VueIcon from "@/components/icons/VueIcon.astro";
import SvelteIcon from "@/components/icons/SvelteIcon.astro";
import PostgreIcon from "@/components/icons/PostgreIcon.astro";
import MySQLIcon from "@/components/icons/MySQLIcon.astro";
---

<section class="pt-16">
  <span class="text-zinc-300 flex flex-row gap-4 items-center justify-start">
    <h2 class="text-3xl font-bold">Stack técnologico</h2>
  </span>
  <div class="flex flex-row gap-6 py-8">
    <article class="w-full grid md:grid-cols-5 grid-cols-2 gap-4 items-center">
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <ReactIcon name="react" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">react</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <TailwindIcon name="tailwind" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">tailwind</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <AstroIcon name="astro" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">astro</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <SvelteIcon name="svelte" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">svelte</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <VueIcon name="vue" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">vue</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <HtmlIcon name="html" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">html</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <CssIcon name="css" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">css</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <PythonIcon name="python" class="w-6 h-6" />
        <span class="text-zinc-300 font-bold">python</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <DjangoIcon name="django" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">django</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <LaravelIcon name="laravel" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">laravel</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <NodeIcon name="node.js" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">node.js</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <MongoIcon name="mongoDB" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">mongoDB</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <PostgreIcon name="postgreSQL" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">postgreSQL</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <MySQLIcon name="mySQL" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">mySQL</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <GitIcon name="git" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">git</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <VitestIcon name="vitest" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">vitest</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <LinuxIcon name="linux" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">linux</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <DockerIcon name="docker" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">docker</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <PostmanIcon name="postman" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">postman</span>
      </button>
      <button
        class="rounded-full flex flex-row gap-2 items-center justify-center px-4 py-1 border border-zinc-700 bg-zinc-900"
      >
        <FigmaIcon name="figma" class="w-4 h-4" />
        <span class="text-zinc-300 font-bold">figma</span>
      </button>
    </article>
  </div>
</section>
