---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<div class={`rounded-2xl border-3 border-white bg-[#F8F8F8] p-6 shadow-md ${className || ''}`}>
  <slot />
</div>
